[Unit]
Description=Temperature and humidity metrics exporter for Prometheus
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/strudel --bcm-pin 17 --log-level debug

# Restrict what the service can do since it only needs the network and /dev
CapabilityBoundingSet=
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=true
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictNamespaces=yes

[Install]
WantedBy=multi-user.target
